<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BeeClothes password reset</title>
</head>
<body>
<h1>Hello <span th:text="${Variable[0].firstName}"></span> <span th:text="${Variable[0].lastName}"></span>!</h1>
<p>We heard that you lost your GitHub password. Sorry about that!</br>
    But don’t worry! You can use the following button to reset your password:
</p>
<a th:href="'http://localhost:3000/redirect/setnewpassword?token=' + ${Variable[1]}">Reset your password</a>
<p>f you don’t use this link within 3 hours, it will expire. To get a new password reset link, visit: <a th:href="'http://localhost:3000/redirect/setnewpassword?token=' + ${Variable[1]}">https://github.com/password_reset</a></p>
<p>Thanks</p>
<p>KT teams</p>
</body>

</html>