<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Template</title>
</head>
<body>
    <h1>Hello <span th:text="${user.name}"></span></h1>
    <p>Welcome to KSapplication</p>
    <p>Your email: <span th:text="${user.email}"></span></p>
    <p>This is a HTML email with a link to activate your account:</p>
    <a style=" padding:15px;border: 1px solid black;border-radius: 4px;background-color: rgb(254, 234, 208);cursor: pointer;" 
    th:href="'https://ourapplication-production.up.railway.app/verifyemail?activeKey=' + ${user.activeKey}">Click here to activate</a>
</body>

</html>